Repository Grupo44-ISIS3510-202520/Flutter, pull requests merged in 2025-10, with the labels that each got.

#19 sensor de gps funciona, además ya se encuentra el doc en firesotre
  brigadeflutter/android/app/src/main/AndroidManifest.xml
  brigadeflutter/ios/Runner/Info.plist
  brigadeflutter/lib/app.dart
  brigadeflutter/lib/blocs/emergency_report/emergency_report_cubit.dart
  brigadeflutter/lib/blocs/emergency_report/emergency_report_state.dart
  brigadeflutter/lib/data/firebase/report_repository_firebase.dart
  brigadeflutter/lib/domain/repositories/report_repository.dart
  brigadeflutter/lib/screens/emergency_report_screen.dart
  brigadeflutter/lib/services/location_service.dart
  brigadeflutter/macos/Flutter/GeneratedPluginRegistrant.swift
  brigadeflutter/pubspec.lock
  brigadeflutter/pubspec.yaml
  brigadeflutter/windows/flutter/generated_plugin_registrant.cc
  brigadeflutter/windows/flutter/generated_plugins.cmake
Labels: feature, flutter

#20 feature BQ type 2
  brigadeflutter/lib/screens/emergency_report_screen.dart
  brigadeflutter/lib/services/analytics_service.dart
Labels: feature, flutter

#21 feat(profile): auto-toggle availability based on campus geolocation
  .vscode/settings.json
  brigadeflutter/lib/blocs/profile/profile_cubit.dart
  brigadeflutter/lib/screens/profile_screen.dart
  brigadeflutter/lib/services/location_service.dart
  brigadeflutter/pubspec.lock
  brigadeflutter/pubspec.yaml
Labels: feature

#23 routing fix (training & profile)
  brigadeflutter/lib/screens/emergency_dashboard_screen.dart
Labels: bug
